bin/
.cache/
*.egg-info
etc/
include/
lib/
lib64
pip-selfcheck.json
*.pyc
*.tsv
*.swp
__pycache__/
.pytest_cache/
share/
.ipynb_checkpoints/
.idea/
.coverage
tags
cover/
build/
docs/_build
env3*/
mycomponents/
