*.egg-info
*.pyc
*.swp
*.tsv
.cache/
.coverage
.idea/
.python*
.ipynb_checkpoints/
.pytest_cache/
__pycache__/
bin/
build/
cover/
dist
docs/_build
env3*/
etc/
include/
lib/
lib64
mycomponents/
pip-selfcheck.json
pyvenv.cfg
share/
tags
